* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    width: 100%;
    min-height: 100vh;
}

section {
    padding-top: 90px;
}

button {
    background: linear-gradient(
        to bottom, 
        #ffffff 0%,
        #f2f2f29a 100%
    );

    padding: 10px 20px;

    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-radius: 20px;

    cursor: pointer;

    box-shadow:
        8px 8px 8px rgba(0, 0, 0, 0.25);
}

.main_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: radial-gradient(
        circle at top left,
        #daf8e3b3 0%,
        #00486e 100%
    );

    z-index: -100;
}

.navbar {
    position: fixed;
    top: 20px;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 40px;
    z-index: 100;
}

.nav_logo_img {
    width: 50px;
    height: 50px;
}

.navbar ul {
    width: 45%;
    height: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(
        to bottom, 
        #ffffff 0%,
        #f2f2f29a 100%
    );

    padding: 0px 30px;

    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-radius: 20px;

    box-shadow:
        10px 15px 10px rgba(0, 0, 0, 0.25);
}

.navbar ul li {
    list-style: none;
    height: 110%;
}

.navbar ul li a {
    text-decoration: none;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 16px;
    font-weight: 700;

    border-radius: 20px;

    padding: 0px 20px;
    transition: 
        all 0.4s ease-in-out, 
        border-radius 0.2s ease-in-out,
        color 0.1s ease-in-out;
}

.navbar ul li a:hover {
    transform: scale(1.05);
    background: linear-gradient(
        to bottom,
        rgb(30, 30, 30) 0%,
        rgb(60, 60, 60) 100%
    );
    color: #fff;
    border-radius: 10px;
}

.profile_menu {
    position: relative;

    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.profile_menu:hover .dropdown,
.profile_menu .dropdown:hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.profile_img {
    width: 50px;
    height: 50px;

    filter: drop-shadow(0 0 2px rgb(255, 255, 255));
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.profile_img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 4px rgb(255, 255, 255));
}

.dropdown {
    position: absolute;
    top: 105%;
    right: 0;

    width: 120px;
    height: 100px;

    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #f2f2f29a 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.dropdown a {
    text-decoration: none;
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
    color: #000;

    border-radius: 20px;

    padding: 20px 0px 20px 25px;
    transition: 
        all 0.4s ease-in-out, 
        border-radius 0.2s ease-in-out,
        color 0.1s ease-in-out;
}

.dropdown a:hover {
    transform: scale(1.1);
    background: linear-gradient(
        to bottom,
        rgb(30, 30, 30) 0%,
        rgb(60, 60, 60) 100%
    );
    color: #fff;
    border-radius: 10px;
}

.close {
    position: absolute;
    width: 28px;
    height: 28px;

    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;

    border-radius: 5px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.close:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 4px rgb(255, 0, 0));
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: auto;
    z-index: -100;

    transition:
        opacity 0.3s ease-in-out,
        z-index 0.2s ease-in-out;
}

.modal_content {
    width: 500px;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background: #fff;

    border-radius: 20px;
    padding: 25px 40px 15px 40px;

    box-shadow:
        10px 15px 10px rgba(0, 0, 0, 0.25);
}

.modal_content h2 {
    padding-top: 60px;
}

.modal_content_form {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-top: 10px;
}

h2 {
    font-size: 26px;
    font-weight: 800;
}

label {
    font-size: 16px;
    font-weight: 700;
}

input {
    width: 100%;
    height: 40px;

    padding: 0px 15px;

    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);

    font-size: 12px;
    font-weight: 600;
}

input:focus {
    border-color: #000;
    outline: none;
}

.submit_btn {
    width: 40%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    background: linear-gradient(
        to bottom, 
        #4CAF50 0%,
        #45a049 100%
    );

    color: #fff;
    font-size: 14px;
    font-weight: 700;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    margin-top: 20px;

    transition: 
        all 0.3s ease-in-out, 
        border-radius 0.2s ease-in-out,
        color 0.1s ease-in-out;
}

.submit_btn:hover {
    transform: scale(1.1);
    background: linear-gradient(
        to bottom,
        rgb(30, 30, 30) 0%,
        rgb(60, 60, 60) 100%
    );
    color: #fff;
    border-radius: 10px;
}

footer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    padding: 10px 0px 10px 0px;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    border-bottom: 0.5px solid #ffffff;
}

.footer_head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo.footer_logo {
    width: 23px;
    height: 23px;
    margin: 0px 10px 0px 0px;
}

.footer_title,
.footer_description {
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
}