.myEntities {
    width: 90vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    padding-top: 160px;
    margin: 0 auto;
}

.myEntities_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px;
}

.myEntities_menu_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.myEntities_menu_items button {
    font-size: 14px;
    font-weight: 600;

    border-radius: 20px;
    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.25);

    transition: 
        all 0.4s ease-in-out, 
        border-radius 0.2s ease-in-out,
        color 0.1s ease-in-out;
}

.myEntities_menu_items button:hover {
    transform: scale(1.1);
    background: linear-gradient(
        to bottom,
        rgb(30, 30, 30) 0%,
        rgb(60, 60, 60) 100%
    );
    color: #fff;
    border-radius: 10px;
}

.addEntity {
    font-size: 14px;
    font-weight: 600;

    border-radius: 20px;
    padding: 10px 15px;

    transition: 
        all 0.4s ease-in-out, 
        border-radius 0.2s ease-in-out,
        color 0.1s ease-in-out;
}

.addEntity:hover {
    transform: scale(1.1);
    background: linear-gradient(
        to bottom,
        rgb(30, 30, 30) 0%,
        rgb(60, 60, 60) 100%
    );
    color: #fff;
    border-radius: 10px;
}

.myEntities_container {
    width: 100%;
    min-height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 0px 15px;
}

.myEntities_list,
.myEntities_details {
    height: 100%;
    
    display: flex;
    flex-direction: column;

    background: linear-gradient(
        to bottom right,
        #ffffffd8 0%, 
        #e6f5eadd 100%
    );

    padding: 10px 20px;

    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-radius: 20px;

    box-shadow:
        8px 8px 8px rgba(0, 0, 0, 0.25);
}

.myEntities_list {
    width: 65%;
}

.myEntities_list::before {
    content: "";
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    
    background: url("./img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0.2;

    transform:translate(-50%, -50%);
}

.myEntities_details {
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.myEntities_details p {
    font-size: 14px;
}